*/bin/
lab2/.vscode/ipch/1f11ad517c506584/mmap_address.bin
lab2/.vscode/ipch/2927c1913e104b7c/mmap_address.bin
lab2/.vscode/ipch/35baa54202047d91/lab1.ipch
lab2/.vscode/ipch/35baa54202047d91/mmap_address.bin
lab2/.vscode/ipch/d26931c545507e8d/aux.ipch
lab2/.vscode/ipch/d26931c545507e8d/mmap_address.bin
lab2/.vscode/ipch/f3bf82a31e9dc873/lab2.ipch
lab2/.vscode/ipch/f3bf82a31e9dc873/mmap_address.bin
lab2/src/lab2
lab2/src/lab2.o
