*/bin/
lab2/.vscode/ipch/1f11ad517c506584/mmap_address.bin
lab2/.vscode/ipch/2927c1913e104b7c/mmap_address.bin
lab2/.vscode/ipch/35baa54202047d91/lab1.ipch
lab2/.vscode/ipch/35baa54202047d91/mmap_address.bin
lab2/.vscode/ipch/d26931c545507e8d/aux.ipch
lab2/.vscode/ipch/d26931c545507e8d/mmap_address.bin
lab2/.vscode/ipch/f3bf82a31e9dc873/lab2.ipch
lab2/.vscode/ipch/f3bf82a31e9dc873/mmap_address.bin
lab2/src/lab2
lab2/src/lab2.o
lab2/.vscode/ipch/1380099e96f349e6/mmap_address.bin
lab2/.vscode/ipch/73e00ad629e9c4eb/mmap_address.bin
lab2/.vscode/ipch/73e00ad629e9c4eb/threads.ipch
lab2/.vscode/ipch/ccf774c999c627a4/aux.ipch
lab2/.vscode/ipch/ccf774c999c627a4/mmap_address.bin
lab2/.vscode/ipch/d0b0a44b6ef76b65/mmap_address.bin
lab2/.vscode/ipch/d0b0a44b6ef76b65/vis.ipch
lab2/src/aux.o
lab2/src/threads.o
lab1/aux.o
lab1/lab1.o
lab1/vis.o
lab2/.vscode/ipch/f03819c00ba75f07/mmap_address.bin
.vscode
